# Server-Side GTM Configuration - Production
GTM_SERVER_CONTAINER_CONFIG=

# Server-Side GTM Configuration - Preview (usually the same config string, but the container runs with RUN_AS_PREVIEW_SERVER=true)
GTM_PREVIEW_SERVER_CONTAINER_CONFIG=

# Hosts and Routing
# Origin that clients will use (e.g. measurement.goldplus.com)
MEASUREMENT_PUBLIC_ORIGIN=measurement.example.com

# Internal host names for docker network routing
GTM_SERVER_HOST=sgtm-production:8080
GTM_PREVIEW_HOST=sgtm-preview:8080

# Caddy TLS Email
CADDY_EMAIL=admin@example.com
